{% extends "base.html" %}
{% block content %}
<div class="container d-flex flex-wrap justify-content-center">
    <div class="card m-3 shadow" style="width:300px;">
        <div style="width:300px; height:300px;" class="d-flex justify-content-center align-items-center">
            <img src="./img/cpu1.png" alt="img/cpu1.png" style="max-width:300px; max-height:300px" class="p-4">
        </div>
        
        <div class="card-body pt-5">
            <h4 class="card-title d-flex justify-content-between align-content-center">
                CPU Intel Xeon
                <small class="text-success"><i class="fa-solid fa-circle-check"></i></small>
            </h4>
            <p class="card-text">
                2 núcleos a 3.2 GHz
            </p>
        </div>
        <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Agregar</button>
    </div>
</div>
{% endblock  %}