{% extends "core/base.html" %}
{% block content %}
{% for product in object_list %}
<div class="container d-flex flex-wrap justify-content-center" id='{{product.id}}'>
    <div class="card m-3 shadow" style="width:300px;">
        <div class="card-body pt-5">
            <h4 class="card-title d-flex justify-content-between align-content-center">
                {{product.name}}
                <small class="text-success"><i class="fa-solid fa-circle-check"></i></small>
            </h4>
            <p class="card-text">
                {{product.description}}
            </p>
            <p class="card-text">
                {{product.price}}
            </p>
            <p hidden id='{{product.id}}stock'>
                {{product.stock}}
            </p>           
        </div>
        <button class="btn btn-primary" onclick='addCart({{product.id}})'><i class="fa-solid fa-cart-shopping"></i>Agregar</button>
    </div>
</div>
{% endfor %}
{% endblock  %}